commands:
  01_install_newrelic_repo:
    test: test ! -d /home/ec2-user/condition_newrelic_installed
    command: rpm -ivh https://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
    ignoreErrors: true
  02_yum_install_newrelic:
    test: test ! -d /home/ec2-user/condition_newrelic_installed
    command: yum install -y newrelic-sysmond
    ignoreErrors: true
  03_configure_license_new_relic:
    test: test ! -d /home/ec2-user/condition_newrelic_installed
    command: nrsysmond-config --set license_key=c5b8c258f7bd973785fed69d0915a36990be4a3d
    ignoreErrors: true
  04_configure_cgroup_new_relic:
    test: test ! -d /home/ec2-user/condition_newrelic_installed
    command: sed -i -e '1i cgroup_root="/cgroup"' /etc/newrelic/nrsysmond.cfg
    ignoreErrors: true
  05_usermode_new_relic:
    test: test ! -d /home/ec2-user/condition_newrelic_installed
    command: usermod -a -G docker newrelic
    ignoreErrors: true
  06_restart_docker:
    test: test ! -d /home/ec2-user/condition_newrelic_installed
    command: /etc/init.d/docker restart
  07_start_ecs:
    test: test ! -d /home/ec2-user/condition_newrelic_installed
    command: start ecs
  08_start_new_relic:
    test: test ! -d /home/ec2-user/condition_newrelic_installed
    command: /etc/init.d/newrelic-sysmond start
    ignoreErrors: true
  09_create_conditional_dir:
    test: test ! -d /home/ec2-user/condition_newrelic_installed
    command: mkdir /home/ec2-user/condition_newrelic_installed
