files:
    "/etc/init/node_exporter.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            #Prometheus Node Exporter Upstart script
            start on startup
            script
            node_exporter
            end script

commands:
  01_download_node_exporter:
    test: test ! -d /home/ec2-user/condition_node_exporter_installed
    command: wget https://s3-ap-northeast-1.amazonaws.com/nikkei-honban-staticfiles/linux/tools/node_exporter.gz
    ignoreErrors: true
  02_ungip_node_exporter:
    test: test ! -d /home/ec2-user/condition_node_exporter_installed
    command: gzip -d node_exporter.gz
    ignoreErrors: true
  03_chmod_node_exporter:
    test: test ! -d /home/ec2-user/condition_node_exporter_installed
    command: chmod +x node_exporter
    ignoreErrors: true
  04_move_node_exporter:
    test: test ! -d /home/ec2-user/condition_node_exporter_installed
    command: mv node_exporter /usr/sbin/
    ignoreErrors: true
  05_start_node_exporter:
    test: test ! -d /home/ec2-user/condition_node_exporter_installed
    command: initctl reload-configuration && initctl start node_exporter
    ignoreErrors: true
  06_create_conditional_dir:
    test: test ! -d /home/ec2-user/condition_node_exporter_installed
    command: mkdir /home/ec2-user/condition_node_exporter_installed
