files:
    "/etc/init/cadvisor.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            #Prometheus cAdvisor Upstart script
            start on startup
            script
            cadvisor --port 9080
            end script

commands:
  01_download_cadvisor:
    test: test ! -d /home/ec2-user/condition_cadvisor_installed
    command: wget https://s3-ap-northeast-1.amazonaws.com/nikkei-honban-staticfiles/linux/tools/cadvisor.gz
    ignoreErrors: true
  02_ungip_cadvisor:
    test: test ! -d /home/ec2-user/condition_cadvisor_installed
    command: gzip -d cadvisor.gz
    ignoreErrors: true
  03_chmod_cadvisor:
    test: test ! -d /home/ec2-user/condition_cadvisor_installed
    command: chmod +x cadvisor
    ignoreErrors: true
  04_move_cadvisor:
    test: test ! -d /home/ec2-user/condition_cadvisor_installed
    command: mv cadvisor /usr/sbin/
    ignoreErrors: true
  05_start_cadvisor:
    test: test ! -d /home/ec2-user/condition_cadvisor_installed
    command: initctl reload-configuration && initctl start cadvisor
    ignoreErrors: true
  06_create_conditional_dir:
    test: test ! -d /home/ec2-user/condition_cadvisor_installed
    command: mkdir /home/ec2-user/condition_cadvisor_installed
