commands:
  01_install_osquery_repo:
    test: test ! -d /home/ec2-user/condition_osquery_installed
    command: rpm -ivh https://osquery-packages.s3.amazonaws.com/centos6/noarch/osquery-s3-centos6-repo-1-0.0.noarch.rpm
    ignoreErrors: true
  02_yum_install_osquery:
    test: test ! -d /home/ec2-user/condition_osquery_installed
    command: yum install -y osquery
    ignoreErrors: true
  03_create_osquery_config_dir:
    command: mkdir -p /etc/osquery
    ignoreErrors: true
  04_create_conditional_dir:
    test: test ! -d /home/ec2-user/condition_osquery_installed
    command: mkdir /home/ec2-user/condition_osquery_installed
