files:
    "/etc/osquery/osquery.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            {
              "schedule": {
                "process_events": {
                  "query": "select * from process_events where cmdline not like 'docker-runc events --stats %';",
                  "interval": 60
                },
                "user_events": {
                  "query": "select * from user_events where not (path='/usr/sbin/crond' and message='''op=PAM:session_close');",
                  "interval": 60
                },
                "last": {
                  "query": "select * from last;",
                  "interval": 60
                }
              },
              "packs": {
                "osquery_monitoring": "/usr/share/osquery/packs/osquery-monitoring.conf",
                "vuln_management": "/usr/share/osquery/packs/vuln-management.conf",
                "it_compliance": "/usr/share/osquery/packs/it-compliance.conf",
                "incident_response": "/usr/share/osquery/packs/incident-response.conf"
              }
            }

    "/etc/osquery/osquery.flags":
        mode: "000644"
        owner: root
        group: root
        content: |
            --disable_audit=false
            --audit_allow_config=true
            --audit_persist=true
            --events_max=1000
            --events_expiry=3600

    "/etc/logrotate.d/osqueryd":
        mode: "000644"
        owner: root
        group: root
        content: |
            /var/log/osquery/osqueryd.results.log {
                daily
                rotate 7
                create 0600 root root
                missingok
                notifempty
                compress
            }

commands:
  01_restart_osqueryd:
    test: test ! -d /home/ec2-user/condition_osquery_configured
    command: service osqueryd restart
    ignoreErrors: true
  02_create_conditional_dir:
    test: test ! -d /home/ec2-user/condition_osquery_configured
    command: mkdir /home/ec2-user/condition_osquery_configured
